<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org"
	th:replace="~{base :: layout(~{::section})}">
<head>
<meta charset="UTF-8">
<title>Profile Page</title>
</head>
<body>
	<section>
		<div class="container-fluid mt-5 p-5">
			<div class="row">
				<div class="col-md-10 offset-md-1">

					<h1 class="text-center">My Profile</h1>
					<!-- Success Message -->
						<th:block th:if="${session.successMsg}">
							<p class="mt-2 text-success text-center fw-bold text-primary">[[${session.successMsg}]]</p>
							<th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
						</th:block>

						<!-- Error Message -->
						<th:block th:if="${session.errorMsg}">
							<p class="text-danger fw-bold">[[${session.errorMsg}]]</p>
							<th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
						</th:block>
					<hr>
					<div class="text-center">
					<!-- th:src="@{'../img/profile_img/'+${user.profileImage}}" -->
						<img alt="" th:src="${user.profileImage}" class="border p-2"
							style="width: 120px; height: 120px; border-radius: 80%">
					</div>
					<div class="col-md-8 offset-md-2 mt-4">

						<table class="table table-borderless">

							<tbody>
								<form action="/user/update-profile" method="post" enctype="multipart/form-data">
								<tr>
									<th scope="row">Name</th>
									<td>:</td>
									<td><input type="text" name="name" class="form-control"
										th:value="${user.name}"></td>

								</tr>

								<tr>
									<th scope="row">Mobile No</th>
									<td>:</td>
									<td><input type="number" name="mobileNumber" class="form-control"
										th:value="${user.mobileNumber}"></td>

								</tr>
								<tr>
									<th scope="row">Email</th>
									<td>:</td>
									<td><input type="email" name="email" class="form-control"
										th:value="${user.email} " readonly></td>

								</tr>
								<tr>
									<th scope="row">Address</th>
									<td>:</td>
									<td><input type="text" name="address" class="form-control"
										th:value="${user.address}"></td>

								</tr>
								<tr>
									<th scope="row">City</th>
									<td>:</td>
									<td><input type="text" name="city" class="form-control"
										th:value="${user.city}"></td>

								</tr>
								<tr>
									<th scope="row">State</th>
									<td>:</td>
									<td><input type="text" name="state" class="form-control"
										th:value="${user.state}"></td>

								</tr>
								<tr>
									<th scope="row">PinCode</th>
									<td>:</td>
									<td><input type="text" name="pincode" class="form-control"
										th:value="${user.pincode}"></td>

								</tr>
								<tr>
									<th scope="row">Image</th>
									<td>:</td>
									<td><input type="file" name="img" class="form-control"
										value=""></td>

								</tr>
								<tr>
									<th scope="row">Role</th>
									<td>:</td>
									<td><input type="text" name="" class="form-control"
										th:value="${user.role}" readonly></td>

								</tr>
								<tr>
									<th scope="row">Account Status</th>
									<td>:</td>
									<td><input type="text" name="" class="form-control"
										th:value="${user.isEnable}" readonly>
										<input type="hidden" name="id" th:value="${user.id}">
										
										</td>

								</tr>
								<tr class="text-center">
									<td></td>
									<td></td>
									
									<td class="text-center">
										<button type="submit" class="btn btn-sm bg-primary text-white">Update</button>
									</td>
								</tr>

								</form>

							</tbody>
						</table>
					</div>





				</div>
				<hr>
				<div class="col-md-10 offset-md-1 mt-1">
					<div class="row">
						<p class="text-center fs-3">Change Password</p>
                          <div class="col-md-6 offset-md-3">
						<table class="table table-borderless">
						

							<tbody>
								<form action="/user/change-password" method="post" id="profilePassword" novalidate>
									<tr>
										<th scope="row">Current Password</th>
										
										<td><input type="password" name="currentPassword" class="form-control"></td>


									</tr>
									
									<tr>
										<th scope="row">New Password</th>
										
										<td><input type="password" name="newPassword" class="form-control"></td>


									</tr>
									<tr>
										<th scope="row">Confirm Password</th>
										
										<td><input type="password" name="confirmPassword" class="form-control"></td>


									</tr>
									
									<tr>
									<td></td>
									<td class="text-center">
										<button type="submit" class="btn btn-sm bg-primary text-white">Update</button>
									</td>
								</tr>


								</form>
							</tbody>
						</table>
						</div>
					</div>
				</div>

			</div>

		</div>





	</section>

</body>
</html>